<header title="vm.title" mode="vm.mode"></header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{vm.mode| uppercase}}
          <div class="pull-right">
            <button
              ng-click="vm.onSave(employeeForm)"
              class="btn btn-default save-button"
              type="button"
            >
              <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
          </div>
        </div>

        <div class="panel-body">
          <form name="employeeForm">
            <div class="row panelRow">
              <div class="col-md-12 panelColumn">
                <div class="col-md-4" ng-if="vm.mode==='new'">
                  <label class="label-floating" for="firstName"
                    ><span class="required">*&nbsp</span>First Name</label
                  >
                  <input
                    name="firstName"
                    id="firstName"
                    type="search"
                    class="form-control"
                    ng-required="true"
                    ng-model="vm.employee.name.first"
                  />
                  <small
                    class="warning"
                    ng-show="employeeForm.firstName.$touched && employeeForm.firstName.$invalid"
                    >First name is mandatory</small
                  >
                </div>

                <div class="col-md-4" ng-if="vm.mode==='new'">
                  <label class="label-floating" for="lastName"
                    ><span class="required">*&nbsp</span>Last Name</label
                  >
                  <input
                    name="lastName"
                    id="lastName"
                    type="search"
                    class="form-control"
                    ng-required="true"
                    ng-model="vm.employee.name.last"
                  />
                  <small
                    class="warning"
                    ng-show="employeeForm.lastName.$touched && employeeForm.lastName.$invalid"
                    >Last name is mandatory</small
                  >
                </div>
                <div class="col-md-6" ng-if="vm.mode==='edit'">
                  <label class="label-floating" for="lastName"
                    ><span class="required">*&nbsp</span>Full Name</label
                  >
                  <input
                    name="fullName"
                    id="fullName"
                    type="text"
                    class="form-control"
                    ng-required="true"
                    ng-model="vm.fullName"
                  />
                  <small
                    class="warning"
                    ng-show="employeeForm.fullName.$touched && (employeeForm.fullName.$invalid || vm.fullName.split(' ').length<2)"
                    >Full Name is mandatory</small
                  >
                </div>
                <div
                  ng-class="{'col-md-4' :vm.mode==='new','col-md-6': vm.mode==='edit' }"
                >
                  <label class="label-floating" for="email"
                    ><span class="required">*&nbsp</span>Email</label
                  >
                  <input
                    name="email"
                    id="email"
                    type="email"
                    class="form-control"
                    ng-required="true"
                    ng-model="vm.employee.email"
                  />
                  <small
                    class="warning"
                    ng-show="employeeForm.email.$touched && employeeForm.email.$invalid"
                    >Email is incorrect</small
                  >
                </div>
              </div>
              <div class="col-md-12 panelColumn">
                <div class="col-md-4">
                  <label class="label-floating" for="phone">Phone</label>
                  <input
                    name="phone"
                    id="phone"
                    type="text"
                    class="form-control"
                    ng-model="vm.employee.phone"
                    ng-pattern="/^[0-9]*$/"
                  />
                  <small
                    class="warning"
                    ng-show="employeeForm.phone.$touched && employeeForm.phone.$viewValue === ''"
                    >phone number is mandatory</small
                  >
                  <small
                    class="warning"
                    ng-show="employeeForm.phone.$viewValue !== '' && employeeForm.phone.$invalid"
                    >phone number is invalid</small
                  >
                </div>

                <div class="col-md-4">
                  <label class="label-floating" for="age">Age</label>
                  <input
                    name="age"
                    id="age"
                    type="number"
                    class="form-control"
                    ng-model="vm.employee.age"
                  />
                </div>
                <div class="col-md-4">
                  <label class="label-floating" for="eyeColor">Eye Color</label>
                  <input
                    name="eyeColor"
                    id="eyeColor"
                    type="search"
                    class="form-control"
                    ng-model="vm.employee.eyeColor"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-6">
                  <label class="label-floating" for="address"
                    ><span class="required">*&nbsp</span>Address</label
                  >
                  <input
                    ng-required="true"
                    name="address"
                    id="address"
                    type="search"
                    class="form-control"
                    ng-model="vm.employee.address"
                  />
                  <small
                    class="warning"
                    ng-show="employeeForm.address.$touched && employeeForm.address.$invalid"
                    >address is mandatory</small
                  >
                </div>
                <div class="col-md-6">
                  <label class="label-floating" for="about">About</label>
                  <input
                    name="about"
                    id="about"
                    type="search"
                    class="form-control"
                    ng-model="vm.employee.about"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
