<header title="'Employee List'" mode="'list'"></header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Employee List
          <div class="pull-right">
            <a ui-sref="new">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </div>
        </div>

        <div class="panel-body">
          <form>
            <div class="input-group inputField">
              <input
                type="search"
                class="form-control"
                placeholder="Search..."
                ng-model="search"
              />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span
                    class="glyphicon glyphicon-search"
                    aria-hidden="true"
                  ></span>
                </button>
              </span>
            </div>
          </form>

          <div class="row panelRow">
            <div class="col-md-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th ng-click="onChangeSort('name.first')" scope="col">
                      Full name
                      <i
                        ng-class="{sortUp : sort==='name.first' && sortType,sortDown:sort==='name.first' && !sortType }"
                      ></i>
                    </th>
                    <th ng-click="onChangeSort('email')" scope="col">
                      Email
                      <i
                        ng-class="{sortUp : sort==='email' && sortType,sortDown:sort==='email' && !sortType }"
                      ></i>
                    </th>
                    <th ng-click="onChangeSort('phone')" scope="col">
                      Phone
                      <i
                        ng-class="{sortUp : sort==='phone' && sortType,sortDown:sort==='phone' && !sortType }"
                      ></i>
                    </th>
                    <th ng-click="onChangeSort('address')" scope="col">
                      Address
                      <i
                        ng-class="{sortUp : sort==='address' && sortType,sortDown:sort==='address' && !sortType }"
                      ></i>
                    </th>
                    <th scope="col">
                      Edit
                    </th>
                    <th scope="col">
                      Delete
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    ng-repeat="employee in employeeList  | filter:{ address: search} | orderBy:sort:sortType track by $index"
                    ng-if="employee.isActive"
                  >
                    <th scope="row">{{$index + 1}}</th>
                    <td>{{employee.name.first + ' ' + employee.name.last}}</td>
                    <td>{{employee.email | uppercase}}</td>
                    <td>{{employee.phone}}</td>
                    <td>{{employee.address}}</td>
                    <td>
                      <a ui-sref="edit({id:employee._id})">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </td>
                    <td>
                      <a ng-click="onDelete(employee._id)" class="clickable">
                        <span class="glyphicon glyphicon-trash"></span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
