body {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

table > thead > tr > th {
  cursor: pointer;
}

.fullScreen {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.warning {
  color: red;
}
