body {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

table > thead > tr > th {
  cursor: pointer;
}
